.list-banner {
  &-container {
    background-color: #80485b;
    margin-top: 2rem;
    border-radius: 24px;
  }
  &-drink-icon {
    position: relative;
    bottom: 20px;
  }
  &-text {
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
  }
}
