.list-banner {
  &-container {
    // position: relative;
    background-color: #80485b;
    margin: 2rem 2.5rem;
    border-radius: 24px;
  }
  &-drink-icon {
    // position: absolute;
    // bottom: 3px;
    // left: 7px;
  }
}
