@font-face {
  font-family: "QuickSand";
  src: url("Quicksand-Bold.ttf") format("woff2"), url("Quicksand-Bold.ttf") format("woff"),
    url("Quicksand-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "QuickSand";
  src: url("Quicksand-Light.ttf") format("woff2"), url("Quicksand-Light.ttf") format("woff"),
    url("Quicksand-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "QuickSand";
  src: url("Quicksand-Medium.ttf") format("woff2"), url("Quicksand-Light.ttf") format("woff"),
    url("Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "QuickSand";
  src: url("Quicksand-Regular.ttf") format("woff2"), url("Quicksand-Regular.ttf") format("woff"),
    url("Quicksand-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "QuickSand";
  src: url("Quicksand-SemiBold.ttf") format("woff2"), url("Quicksand-SemiBold.ttf") format("woff"),
    url("Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
